<style>
  h1{
    text-align: center;
    font-size: 3rem;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 20%;
    cursor: pointer;
  }
  input {
    display: block;
    margin: 0 auto;
    width: 20%;
    padding: 10px;
    font-size: 1.5rem;
  }
  .error-output {
    color: red;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    width: 20%;
    text-align: center;
    font-style: italic;
  }
</style>

<main class="main">
  <div>
    <h1>Hello {{this.userName}} from BridgeLabz</h1>
    <img [src]="imgUrl" (click)="onClick($event)" alt="">
  </div>
  <div>
    <input (input)="onInput($event)" [(ngModel)]="userName"> <br>
    <span class="error-output">{{this.nameError}}</span>
  </div>
</main>
<router-outlet />
